# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/angularapp/dist
/angularapp/tmp
/angularapp/out-tsc
/angularapp/bazel-out

# Node
/angularapp/node_modules
/angularapp/npm-debug.log
/angularapp/yarn-error.log

# IDEs and editors
/angularapp/.idea/
/angularapp/.project
/angularapp/.classpath
/angularapp/.c9/
*.launch
/angularapp/.settings/
/angularapp/*.sublime-workspace

# Visual Studio Code
/angularapp/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/angularapp/.history/*

# Miscellaneous
/angularapp/.angular/cache
/angularapp/.sass-cache/
/angularapp/connect.lock
/angularapp/coverage
/angularapp/libpeerconnection.log
/angularapp/testem.log
/angularapp/typings

# System files
/angularapp/.DS_Store
/angularapp/Thumbs.db

# webapi
/webapi/bin
/webapi/obj
/webapi/Migrations