# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/anglularapp/dist
/anglularapp/tmp
/anglularapp/out-tsc
/anglularapp/bazel-out

# Node
/anglularapp/node_modules
/anglularapp/npm-debug.log
/anglularapp/yarn-error.log

# IDEs and editors
/anglularapp/.idea/
/anglularapp/.project
/anglularapp/.classpath
/anglularapp/.c9/
*.launch
/anglularapp/.settings/
/anglularapp/*.sublime-workspace

# Visual Studio Code
/anglularapp/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/anglularapp/.history/*

# Miscellaneous
/anglularapp/.angular/cache
/anglularapp/.sass-cache/
/anglularapp/connect.lock
/anglularapp/coverage
/anglularapp/libpeerconnection.log
/anglularapp/testem.log
/anglularapp/typings

# System files
/anglularapp/.DS_Store
/anglularapp/Thumbs.db

# webapi
/webapi/bin
/webapi/obj
