<div class="row" style="margin-top: 4rem;">
    <div class="col" style="margin-left: 5rem;">
        <div class="fs-3">
            Top Games
        </div>
        <div [routerLink]="['/tournaments', game.id]" class="fs-4" *ngFor="let game of games" style="margin-top: 1rem;">
            <img class="" id="gameIcon" alt="avatar1" src="{{game.icon}}" />
            {{game.tournamentCount}} tournaments
        </div>
    </div>
    <div class="col" *ngIf="(isAuthenticated | async) !== true">
        <div class="fs-3">
            Join our website!
        </div>
        <div class="row col-6" style="margin-top: 5rem;">
            <button type="button" class="btn btn-primary btn-lg"
                [routerLink]="['/authentication/register']">Register</button>
        </div>
        <div class="row col-6" style="margin-top: 5rem;">
            <button type="button" class="btn btn-primary btn-lg"
                [routerLink]="['/authentication/login']">Login</button>
        </div>
    </div>
    <div class="col" *ngIf="(isAuthenticated | async)">
        <div class="fs-3">
            My Teams
        </div>
        <div class="fs-3">
            My Tournaments
        </div>
    </div>
</div>