<div class="row" style="margin-left:2rem; margin-top: 2rem; margin-bottom: 5rem;">
    <div class="input col-2">
        <input [(ngModel)]="name" type="text" class="form-control" placeholder="Team name" aria-label="TeamName">
    </div>
    <div class="dropdown col-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{viewGame}}
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" *ngFor="let game of games" (click)="changeGameId(game)">{{game.name}}</a>
            </li>
        </ul>
    </div>
    <div class="dropdown col-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{viewStatus}}
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="changeStatus(0)">LFT</a></li>
            <li><a class="dropdown-item" (click)="changeStatus(1)">FULL</a></li>
        </ul>
    </div>
    <div class="col-3">
        <button [routerLink]="['/teams/create']" class="btn btn-primary" type="button">
            Create new team
        </button>
    </div>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item row mb-1" [routerLink]="['/teams', TeamListDTO.id]" *ngFor="let TeamListDTO of teams" style="margin-left:5rem;">
        <div class="row mb-1">
            <div class="col-1">
                <img class="" id="gameIcon" alt="avatar1" style=" max-width: 100%;
                height: auto;" src="{{TeamListDTO.gameIcon}}" />
            </div>
            <div class="col-1">
                <div class="fs-6">{{TeamListDTO.name}}</div>
            </div>
            <div class="col-1" *ngIf="TeamListDTO.status == 0">
                <div class="fs-6">LFT</div>
            </div>
            <div class="col-1" *ngIf="TeamListDTO.status == 1">
                <div class="fs-6">FULL</div>
            </div>
            <div class="col-1">
                <div class="fs-6">{{TeamListDTO.memberCount}} / {{TeamListDTO.gameMember}}</div>
            </div>
        </div>
    </li>
</ul>